@page "/listorders"

@using PrinterShop.Shared.Dtos

@inject IOrderService OrderService;
@inject NavigationManager NavigationManager;

<h3>List Orders</h3>

<a href="addorder" class="btn btn-danger my-2">Add new order</a>

@if (_orders is null)
{
    <p>loading...</p>
}
else if (_orders.Count == 0)
{
    <p>There are no users registered.</p>
}
else
{
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Printer</th>
            <th scope="col">Customer</th>
            <th scope="col">Type</th>
            <th colspan="2" />
        </tr>
        </thead>
        <tbody>
            @foreach (var user in _orders)
            {
                <tr>
                    <td>@(_index++)</td>
                    <td>@user</td>
                    <td>@user</td>
                    <td>@user.ToString()</td>
                    <td>
                        <a class="btn btn-primary" href="updateuser/@user.Id">Update Details</a>
                    </td>
                    <td>
                        <button class="btn btn-danger" onclick="@(() => DeleteUser(user.Id))">Delete User</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<OrderDto> _orders;
    private int _index;

    protected override async Task OnInitializedAsync()
    {
        _orders = (await OrderService.GetAllAsync()).ToList();
        _index = 1;
    }

    private async Task DeleteUser(Guid id)
    {
        await OrderService.DeleteAsync(id);
        NavigationManager.Refresh();
    }
    
}